.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-box {
}

.choice {
  border: 1px solid;
  border-radius: 32px;
  padding: 16px;
  width: 400px;
  cursor: pointer;
}

.choice + .choice {
  margin-top: 16px;
}

.index {
  margin-top: 20px;
}
